body::before {
    display: block;
    content: '';
    height: 56px;
}

.modal {
    background-color: gray;
}
/* 
.margin-top {
    margin-top: 4.5rem!important;
} */

.background {
    background-color: rgb(243, 237, 237)
}

.margin-buttom {
    margin-bottom: 1.2rem;
}

.btn1 {
    list-style: none;
    border-radius: 10px;
}

.container1 {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.padding {
    padding-top: 0rem!important;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    width: 40%;
    border-radius: 50%;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.modal-content {
    background-color: #d3d207;
}

.btn2 {
    background-color: rgb(87, 165, 97);
    color: rgb(255, 252, 248);
}

.map-container-3 {
    overflow: hidden;
    padding: 15%;
    position: relative;
    height: 0;
}

.map-container-3 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.margin {
    margin: 2%;
}

#map {
    width: 100%;
    height: 100%;
}